@model ProductBrandViewModel
<form method="post" asp-action="Create">
        <div class="row justify-content-center">
            <div class="col-7">
                <input asp-for="Name" class="form-control" />
            </div>

            <div class="col-3">
                <button type="submit" class="btn btn-success"> Add new brand</button>
            </div>
        </div>
    <span asp-validation-for="Name" class="text-danger"></span>

</form>