@model ProductViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name</h1>

<form asp-action="Edit" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <partial name="CreateEditPartialView" model="Model" />
    <br />
    <br />
    <input type="submit" value="Edit" class="btn btn-success" />
    <a asp-action="Index" class="btn btn-primary">Back to Index</a>
</form>
